* {
  box-sizing: border-box;
}

body {
    height: 100vh;
    width: auto;
    background: #1D639D; /* For browsers that do not support gradients */    
    background: -webkit-linear-gradient(bottom , #1D639D, #77AC9F); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom, #1D639D, #77AC9F); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom , #1D639D, #77AC9F); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to top, #1D639D, #77AC9F); /* Standard syntax (must be last) */
}

.container {
  width: 900px;
  margin: auto;
  background-color: white;
/*  border-radius: 10px;*/
}

.title, .colors {
  color: #77AC9F;
  display: block;
  text-align: center;
  padding: 40px 0;
}

.divBasic {
  display: inline-block;
  float: left;
  background-color: inherit;
}

.divFill {
  background-color: black;
  opacity: 0.1;
}

button {
  padding: 10px;
  font-size: 24px;
  background-color: white;
}

.btn {
  background: #77AC9F;
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  text-decoration: none;
}
